@page "/"

<PageTitle>Main</PageTitle>

<label class="object-name @UIVisibility">@SpaceObject.Name.ToUpper()</label>
<label class="object-host-name @UIVisibility">@SpaceObject.Host.Name.ToUpper()</label>

<div class="user-panel">
    <button class="vr-button">
        <div class="vr"><img class="visor" src="images/visor.svg" alt="visor" />VR Mode</div>
    </button>
    <div id="ui-switch">
        <label class="ui-text">UI</label>
        <label class="switch">
            <input type="checkbox" checked="@isUIChecked" @oninput="UICheckboxChangedAsync">
            <span class="slider"></span>
        </label>
    </div>
    <div class="user">
        @User.Name
        <div class="progress-bar-container">
            <div class="progress-bar-indicator" style="width:@User.Completion%"></div>
        </div>
    </div>
    <div class="avatar">
        <img src="images/avatar.svg" alt="avatar" />
        <div class="score">@User.UserScore</div>
    </div>
</div>

<div class="menu @UIVisibility">
    <button class="menu-item" autofocus><img class="planets" src="images/planet.svg" alt="planet" />PLANETS</button>
    <button class="menu-item"><img src="images/flyingSaucer.svg" alt="flyingSaucer" />OBSERVATORIES</button>
    <button class="menu-item"><img src="images/strategy.svg" alt="strategy" />QUIZ</button>
    <button class="menu-item"><img src="images/graduationCap.svg" alt="graduationCap" />LEARN</button>
</div>

<div class="object-panel @UIVisibility">
    <div class="object-panel-item">
        <label class="object-panel-item-key">Planet Name</label>
        <label class="object-panel-item-value">@SpaceObject.Name</label>
    </div>
    <hr>
    <div class="object-panel-item">
        <label class="object-panel-item-key">Host Name</label>
        <label class="object-panel-item-value">@SpaceObject.Host.Name</label>
    </div>
    <hr>
    <div class="object-panel-item">
        <label class="object-panel-item-key">Number of planet</label>
        <label class="object-panel-item-value">@SpaceObject.Number</label>
    </div>
    <hr>
    <div class="object-panel-item">
        <label class="object-panel-item-key">Status</label>
        <label class="object-panel-item-value">@SpaceObject.Status</label>
    </div>
    <hr>
    <div class="object-panel-item">
        <label class="object-panel-item-key">Stellar Effective Temperature [K]</label>
        <label class="object-panel-item-value">@SpaceObject.Host.SolarTemp</label>
    </div>
    <hr>
    <div class="object-panel-item">
        <label class="object-panel-item-key">Stellar Radius [Solar Radius]</label>
        <label class="object-panel-item-value">@SpaceObject.Host.SolarRadius</label>
    </div>
    <hr>
    <div class="object-panel-item">
        <label class="object-panel-item-key">Stellar Mass [Solar Mass]</label>
        <label class="object-panel-item-value">@SpaceObject.Host.SolarMass</label>
    </div>
    <hr>
    <div class="object-panel-item">
        <label class="object-panel-item-key">Detected by</label>
        <label class="object-panel-item-value">@SpaceObject.DetectedBy</label>
    </div>
    <hr>
    <div class="object-panel-item">
        <label class="object-panel-item-key">Observed by</label>
        <label class="object-panel-item-value">@SpaceObject.ObservedBy</label>
    </div>
</div>

<div class="distance-panel @UIVisibility">
    <div class="distance-panel-buttons">
        <div class="distance-panel-buttons-item">
            <input type="radio" id="light-rb" name="distance" value="light speed" checked />
            <label for="light-rb">LIGHT SPEED</label>
        </div>

        <div  class="distance-panel-buttons-item">
            <input type="radio" id="auto-rb" name="distance" value="auto" />
            <label for="auto-rb">AUTO</label>
        </div>

        <div  class="distance-panel-buttons-item">
            <input type="radio" id="train-rb" name="distance" value="bullet train" />
            <label for="train-rb">BULLET TRAIN</label>
        </div>

                <div  class="distance-panel-buttons-item">
            <input type="radio" id="jet-rb" name="distance" value="jet" />
            <label for="jet-rb">JET</label>
        </div>

                <div  class="distance-panel-buttons-item">
            <input type="radio" id="voyager-rb" name="distance" value="voyager" />
            <label for="voyager-rb">VOYAGER</label>
        </div>
    </div>
    <div class="distance">
         <img src="images/rocketLaunch.svg"/>
        <div class="distance-description">
        <label><span class="distance-text-bold">Travel speed:</span> @TravelSpeed</label>
        <label><span class="distance-text-bold">Travel time:</span> @TravelTime</label>
        </div>
    </div>
</div>


<div class="planets-panel @UIVisibility">
    <button class="card" @onclick="HandleExoplanetsButtonClick">
        <img src="images/ic_table.svg"/>
        ALL PLANETS
    </button>
    <button class="card">
        NEXT PLANET
        <img src="images/ic_arrow_right.svg"/>
    </button>
</div>

<div class="bottom-panels @UIVisibility">
    <div class="bottom-panels-item-1">
        <label class="bottom-panels-item-number">@SpaceObject.DiscoveryYear</label>
        <label class="bottom-panels-item-description">discovery year</label>
    </div>
    <div class="bottom-panels-item-2"><label class="bottom-panels-item-number">@SpaceObject.OrbitalRadius</label>
        <label class="bottom-panels-item-description">orbital radius (AU)</label>
    </div>
    <div class="bottom-panels-item-3"><label class="bottom-panels-item-number">@SpaceObject.OrbitalPeriod</label>
        <label class="bottom-panels-item-description">orbital period (days)</label>
    </div>
</div>

<div class="@(_isExoplanetTableVisible && isUIChecked ? string.Empty : "invisible")">
    <ExoplanetsLayout OnExoplanetSelected="HandleExoplanetSelectedEvent" OnObservatorySelected="HandleObservatorySelectedEvent" OnTelescopeSelected="HandleTelescopeSelectedEvent"/>
</div>

<div class="@(_isObservatoryWindowVisible && isUIChecked ? string.Empty : "invisible")">
    <ObservatoryWindow OnWindowCloseClicked="HandleObservatoryWindowCloseClickedEvent" @ref="_observatoryWindowRef"/>
</div>

<div class="@(_isTelescopeFloatingWindowVisible && isUIChecked ? string.Empty : "invisible")">
    <TelescopeFloatingWindow OnWindowCloseClicked="HandleTelescopeWindowCloseClickedEvent" @ref="_telescopeFloatingWindowRef"/>
</div>


