@page "/observatories"

<PageTitle>Observatories</PageTitle>

@if (_spaceObservatories != null)
{
    <div class="telescope">

    @for (var i = 0; i < _spaceObservatories.Length; i++)
        {
            var spaceObservatory = _spaceObservatories[i];
            <div class="telescope-item @GetSpaceObservatoryIsActiveClass(spaceObservatory) animate__animated animate__fadeInDown"
                @onclick="() => SelectSpaceObservatory(spaceObservatory)">
                <img src="@spaceObservatory.TexturePath" />
                <p>@spaceObservatory.Name</p>
            </div>
        }

    </div>
}

<button @onclick="ShowSpaceObservatoriesAsync"
    class="observatory-switch-button top @GetVisibilityStyle(!_isSpaceObservatories && _selectedObservatory == null) animate__animated animate__fadeInDown">
    <img src="images/ic_caret_up.svg" />
    Space Observatories
</button>

<button @onclick="ShowEarthObservatoriesAsync"
    class="observatory-switch-button bottom @GetVisibilityStyle(_isSpaceObservatories && _selectedObservatory == null) animate__animated animate__fadeInUp">Earth
    Observatories
    <img src="images/ic_caret_down.svg" />
</button>

<div class="@GetVisibilityStyle(_isSpaceObservatoryFloatingWindowVisible)">
    <SpaceObservatoryWindow OnWindowCloseClicked="HandleSpaceObservatoryWindowCloseClickedEvent"
        @ref="_spaceObservatoryWindowRef" />
</div>

<div class="@GetVisibilityStyle(_isEarthObservatoryWindowVisible)">
    <EarthObservatoryWindow OnWindowCloseClicked="HandleEarthObservatoryWindowCloseClickedEvent"
        @ref="_earthObservatoryWindowRef" />
</div>
